<section class="h-100 h-custom gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <form
              *ngIf="!isSuccessful"
              name="userForm"
              class="form"
              (ngSubmit)="onSave()"
              #f="ngForm"
              novalidate
            >
              <div class="row g-0">

                <div class="col-lg-6">
                  <div class="p-5">

                    <h3 class="fw-normal mb-5" style="color: #4835d4;">Informations d’identification de l&#39;entreprise</h3>

                    <div class=" mb-4 pb-2">
                      <div class="form-outline">
                        <input type="text" required id="nomentreprise" class="form-control form-control-lg  " placeholder="Nom de l&#39;entreprise" [(ngModel)]="user.nomentreprise"
                               name="nomentreprise"  #nomentreprise="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && nomentreprise.errors }"/>
                        <div class="invalid-feedback" *ngIf="nomentreprise.errors && f.submitted">
                          <div *ngIf="nomentreprise.errors['required']">Nom entreprise is required</div>

                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <input type="text" id="form3Examplev3" required class="form-control form-control-lg" placeholder="Numéro d&#39;inscription" [(ngModel)]="user.numinscription" name="numinscription" pattern="[0-9]+"/>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <input type="text" id="form3Examplev34" class="form-control form-control-lg" placeholder="Numéro Identifiant Fiscal" [(ngModel)]="user.numidentifiant" name="numidentifiant" pattern="[0-9]+"/>
                        </div>
                      </div>
                    </div>

                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"  [(ngModel)]="user.typesoumissionnaire" name="typesoumissionnaire">

                      <option value="" disabled selected>Type de soumissionnaire</option>
                      <option value="National">National</option>
                      <option value="International">International</option>
                    </select>

                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <input type="text" id="form3Examplev4" class="form-control form-control-lg" placeholder="Pays de siége social" [(ngModel)]="user.pays" name="pays"/>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div >
                        <label class="form-check-label" id="form3Examplev44"><b>Types de marché :</b></label>
                        <div>
                          <input type="radio" id="fournitures" name="typedemarche" value="Fournitures" [(ngModel)]="user.typedemarche" />
                          <label class="form-check-label" for="fournitures">Fournitures</label>
                        </div>
                        <div>
                          <input type="radio" id="servicesCourants" name="typedemarche" value="Services courants" [(ngModel)]="user.typedemarche" />
                          <label class="form-check-label" for="servicesCourants">Services courants</label>
                        </div>
                        <div>
                          <input type="radio" id="travaux" name="typedemarche" value="Travaux" [(ngModel)]="user.typedemarche" />
                          <label class="form-check-label" for="travaux">Travaux</label>
                        </div>
                        <div>
                          <input type="radio" id="prestationsIntellectuelles" name="typedemarche" value="Prestations intellectuelles" [(ngModel)]="user.typedemarche" />
                          <label class="form-check-label" for="prestationsIntellectuelles">Prestations intellectuelles</label>
                        </div>
                        <div>
                          <input type="radio" id="autres" name="typedemarche" value="Autres" [(ngModel)]="user.typedemarche" />
                          <label class="form-check-label" for="autres">Autres</label>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                        <div class="form-outline">
                          <input type="tel" id="form3Examplev5" class="form-control form-control-lg" placeholder="N ° de téléphone" [(ngModel)]="user.numtel" name="numtel"/>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                        <div class="form-outline">
                          <input type="tel" id="form3Examplev6" class="form-control form-control-lg" placeholder="Numéro de fax" [(ngModel)]="user.numfax" name="numfax"/>
                        </div>
                      </div>
                    </div> <br>


                    <div class="mb-4 pb-2">
                      <div class="form-outline">
                        <input type="email" id="form3Examplev7" class="form-control form-control-lg" placeholder="Adresse e-mail de la société" [(ngModel)]="user.emailsociete" name="emailsociete"/>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="col-lg-6 bg-indigo text-white">
                  <div class="p-5">

                    <h3 class="fw-normal mb-5">Détails du propriétaire ou représentant légal</h3>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input
                          type="text"
                          name="nom"
                          class="form-control form-control-lg"
                          placeholder="Username"
                          [(ngModel)]="user.nom"
                          required
                          minlength="3"
                          maxlength="20"
                          #username="ngModel"
                          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
                        />
                        <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
                          <div *ngIf="username.errors['required']">Username is required</div>
                          <div *ngIf="username.errors['minlength']">
                            Username must be at least 3 characters
                          </div>
                          <div *ngIf="username.errors['maxlength']">
                            Username must be at most 20 characters
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-5 mb-4 pb-2">
                        <div class="form-outline form-white">
                          <input
                            type="email"
                            name="email"
                            [(ngModel)]="user.email"
                            required
                            class="form-control form-control-lg"
                            placeholder="email"
                            email
                            #email="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
                          />

                          <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
                            <div *ngIf="email.errors['required']">Email is required</div>
                            <div *ngIf="email.errors['email']">
                              Email must be a valid email address
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-7 mb-4 pb-2">
                        <div class="form-outline form-white">
                          <input
                            type="password"
                            class="form-control form-control-lg"
                            placeholder="password"
                            name="password"
                            [(ngModel)]="user.password"
                            required
                            minlength="6"
                            #password="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
                          />

                          <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
                            <div *ngIf="password.errors['required']">Password is required</div>
                            <div *ngIf="password.errors['minlength']">
                              Password must be at least 6 characters</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="tel" id="form3Examplea6" class="form-control form-control-lg" placeholder="Telephone mobile" [(ngModel)]="user.telephone" name="telephone"  />
                      </div>
                    </div>

                    <div class="mb-4 pb-2">
                      <div class="form-outline form-white">
                        <input type="tel" id="form3Examplea7" class="form-control form-control-lg" placeholder="Numéro de bureau" [(ngModel)]="user.numerodebureau" name="numerodebureau"/>
                      </div>
                    </div>



                    <div class="form-group">
                      <button type="submit" class="btn btn-dark btn-lg btn-block" >Edit</button>
                    </div>
                    <br>






                  </div>
                </div>
              </div></form>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>

